!!!
html
  head
    include _shared/_head
  body
    .main
      include _shared/_header
      include _shared/_top_nav
      .content-wrap
        div.aside-nav-button(data-menu="button") Left Menu
        .aside(data-menu="content")
          | Here is the left menu
        .content
          h1 Новости

          .metro-grid-5
            .metro-row
              .box-w2-h2
                .box-content
              .box-w2-h1
                .box-content
              .box-w1-h1
                .box-content

            .metro-row
              .box-w1-h1.offset-2
                .box-content
              .box-w2-h1
                .box-content

            .metro-row
              .box-w2-h1
                .box-content
              .box-w1-h1
                .box-content
              .box-w2-h2
                .box-content

            .metro-row
              .box-w1-h1
                .box-content
              .box-w2-h1
                .box-content

    include _shared/_footer
