.top-nav-wrap
  height: 39px
.top-nav
  background: $mine_shaft
  height: 100%
  font-size: 14px
  padding-left: 22%
  ul
    list-style-type: none
    margin: 0
    padding: 0

.top-nav-item
  margin: 0 4px 0 0
  padding: 0
  display: inline-block
  &:last-child
    margin-right: 0

.top-nav-item-link
  color: $white
  text-decoration: none

.top-nav-item-content
  display: inline-block
  padding: 10px 12px 0
  height: 29px
  .top-nav-item-active &
    background-color: $cod_gray
