.top-nav-wrap
  nav.top-nav
    .site-row
      .pull-right
        ul
          li.top-nav-item
            a.top-nav-item-link(href="#")
              span.top-nav-item-content Иванов Дмитрий
          li.top-nav-item
            a.top-nav-item-link(href="#")
              span.top-nav-item-content Поиск

      ul
        li.top-nav-item.top-nav-item-active
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Информация
        li.top-nav-item
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Сервисы
        li.top-nav-item
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Проекты и сообщества
