.top-nav-wrap
  nav.top-nav
    .site-row
      .pull-right
        ul
          li.top-nav-item
            a.top-nav-item-link(href="#")
              span.top-nav-item-content Иванов Дмитрий
          li.top-nav-item
            a.top-nav-item-link(href="#")
              span.top-nav-item-content Поиск

      ul.top-nav-main
        li.top-nav-item.top-nav-item-active
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Информация

          .submenu
            .site-row

              .metro-grid-8
                .metro-row
                  .box-w2-h2
                    a(href="#")
                      .box-content.box-piction-blue
                        .big-square
                          img(src="http://lorempixel.com/300/300", height="100%")
                  .box-w1-h1
                    a(href="#")
                      .box-content.box-purple-heart.icon-question
                  .box-w2-h1
                    a(href="#")
                      .box-content.box-scooter.icon-hr
                  .box-w2-h1
                    a(href="#")
                      .box-content.box-raw-sienna
                        img.pull-right(src="http://lorempixel.com/200/200", height="100%")
                  .box-w1-h1
                    a(href="#")
                      .box-content.box-purple-heart.icon-photo

                .metro-row
                  .box-w2-h1.offset-2
                    a(href="#")
                      .box-content.box-tahiti-gold.icon-structure
                  .box-w1-h1
                    a(href="#")
                      .box-content.box-mountain-meadow.icon-vacancies
                  .box-w2-h1
                    a(href="#")
                      .box-content.box-piction-blue.icon-marketing
                  .box-w1-h1
                    a(href="#")
                      .box-content.box-scooter.icon-star

        li.top-nav-item
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Сервисы
        li.top-nav-item
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Проекты и сообщества
