.top-nav-wrap
  nav.top-nav
    .site-row
      .pull-right
        ul
          li.top-nav-item
            a.top-nav-item-link(href="#")
              span.top-nav-item-content Иванов Дмитрий
          li.top-nav-item
            a.top-nav-item-link(href="#")
              span.top-nav-item-content Поиск

      ul.top-nav-main
        li.top-nav-item.top-nav-item-active
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Информация

          .submenu
            .site-row

              .metro-grid-8
                .metro-row
                  .box-w2-h2
                    .box-content.box-piction-blue
                  .box-w1-h1
                    .box-content.box-purple-heart
                  .box-w2-h1
                    .box-content.box-scooter
                  .box-w2-h1
                    .box-content.box-raw-sienna
                  .box-w1-h1
                    .box-content.box-purple-heart

                .metro-row
                  .box-w2-h1.offset-2
                    .box-content.box-tahiti-gold
                  .box-w1-h1
                    .box-content.box-mountain-meadow
                  .box-w2-h1
                    .box-content.box-piction-blue
                  .box-w1-h1
                    .box-content.box-scooter

        li.top-nav-item
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Сервисы
        li.top-nav-item
          a.top-nav-item-link(href="#")
            span.top-nav-item-content Проекты и сообщества
